@model Europa.Dao.Categoria

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes da Categoria</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
           Item ativo?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status) Sim
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdCategoria }, new { @class = "btn btn-default" }) |
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
</p>
